*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Sailec-Medium','Helvetica','san-serif';
}

.dist-sez{
   padding: 5% 0;
}

/* regole di debug */
[class*="col-"]{
   /* min-height: 100px; */
   /* background-color: lightgreen; */
   border: 1px solid black;
}
/* regole di debug */
.dist1{
   padding-top:4%;
}

/* colori e sfondi */
.light-gray{background-color: #f3f5f9;}
.blue-gradient{
   background-color: #000000;
   background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
.dark-blue{background-color: #031c4e;}
.white{background-color: #fff;}
.jumbo{
   background-image: url("../img/home.jpg");
   background-size: cover;
}

/* colori */

/* ADATTAMENTO IMG */
img{
   width: 100%;
   height: auto;
}

ul{
   list-style: none;
}

a{
   text-decoration: none;
   color: #006aff;
}
/* BLOCCO 1 */
/* nav */
/* logo */
.nav-container{
   height: 50px;
   background-color:#fafafa;
}
.hamburgher{
   display: none;
}
.cont-logo-nav{
   width: 172px;
   height: 28px;
   position: absolute;
   top:5px;
   left:0;
}
/* logo */

/* ul-1 */
.cont-ul-1{
   position: absolute;
   top:14px;
   left:300px;
}
.cont-ul-2{
   position: absolute;
   top:14px;
   right:0px;
}


.cont-ul-1 a, .cont-ul-2 a{
   color: #5b6886;
   font-size: 14px;
}

.cont-ul-1 a:hover, .cont-ul-2 a:hover{
   -ms-transform: scale(1.3,1.3);
   -moz-transform: scale(1.3,1.3);
   -webkit-transform: scale(1.3,1.3);
   transform: scale(1.3,1.3);
   -ms-transition: all linear 0.2s;
   -webkit-transition: all linear 0.2s;
   -moz-transition: all linear 0.2s;
   transition: all linear 0.2s;
   color: #fff;
   background-color: #00AFEF;

}

.cont-ul-1 li, .cont-ul-2 li {
   padding-right: 10px;
}
/* ul-1 */
/* nav */

/* left */
.left-text h1{
   color: #fff;
   font-size: 50px;
   padding-right: 60px;
   padding-top: 50px;
}

.left-text p{
   font-size: 19px;
   color: #fff;
   opacity: 0.8;
   padding-bottom: 50px;
}
/* left */

/* right (input) */
.container-right{
   border: 1px solid white;
   border-radius: 10px;
   background-color: #fafafa;
   margin: 40px;
}
.container-right > h1{
   font-size: 25px;
   color: #031c4e;
   padding-top: 25px;
   padding-bottom: 5px;
}
.container-right > a{
   font-size: 25px;
   font-weight: bold;
   color: #006aff;
}

/* input */
.container-right > .em-pas{
   display: block;
   width:85%;
   margin: 10px auto;
   padding: 10px;
   font-size: 15px;
   border-radius: 5px;
   border: 1px solid lightgray;
   color: black;
}



.create-acc{
   color: white;
   background-color: #579aff;
   padding: 5px;
   cursor: pointer;
   outline: none;
   font-size: 15px;
   border: 1px solid lightgray;
   width:85%;
   display: block;
   margin: 10px auto;
   border-radius: 5px;
}
.create-acc:hover{
   opacity: 0.7;
}

.google-cont{
   width: 85%;
   margin: 10px auto;
   padding: 6px;
   font-size: 15px;
   border-radius: 5px;
   border: 1px solid lightgray;
   background-color: #fafafa;
   background: url("../img/google-icon.png");
   background-size: contain;
   background-repeat: no-repeat;
   opacity: 0.8;
   cursor: pointer;
}
.google-cont:hover{
   opacity: 0.5;
}
.google-cont input{
   background: none;
   outline: none;
   border: none;
   color: #626262;
   font-weight: bold;
   cursor: pointer
}
/* input */
/* last */
.last{
   font-size: 11px;
   padding-top: 5px;
   padding-bottom: 25px;
}
.last a{
   color: blue;
   text-decoration: underline;
   font-weight: bolder;
}
/* last */
/* right (input) */

/* LOGHI */
#p{
   font-size: 15px;
   color: gray;
   font-weight: bold;
   margin: 50px 0;
}



/* ridimensionamento loghi */

#m-log1{
   width: 140px;
   height: 77px;
}
#m-log2{
   width: 101px;
   height: 77px;
}
#m-log3{
   width: 127px;
   height: 77px;
}
#m-log4{
   width: 156px;
   height: 77px;
}
#m-log5{
   width: 133px;
   height: 77px;
}
#m-log6{
   width: 122px;
   height: 77px;
}
.m-log{
   margin: 30px 0;
}

.m-log:hover{
   transition: all linear 0.2s;
   outline: 10px solid #0F659C;
}
/* ridimensionamento loghi */
.link{
   padding-top: 50px;
   padding-bottom: 30px;
}
.link a{
   font-weight: bold;
   font-size: 15px;
}
.link a:hover{
   color: #0F659C;
   text-decoration: underline;
}
/* LOGHI */

/* BLOCCO 1 */









/* BLOCCO 2 */
/* left */
.h1-sez{
   font-size: 36px;
   color: #031b4e;
   padding-top: 60px;
   padding-bottom: 10px;
}
.p-sez{
   font-size: 20px;
   color: #5b6987;
}
.dist2{
   padding-bottom: 50px;
}

.cont-left{
   border-left: 1px solid #5b6987;
}
.cont-left a{
   display:block;
   padding: 15px 10px;
   margin-right: 10px;
   color: #5b6987;
}
.cont-left a:hover{
   transform: scale(0.9);
   border: 1px solid #006aff;
   opacity: 0.7;
}
/* left */

/* right */
.icon1{
   width: 37px;
   height: 37px;
}
.icon1-cont{
   margin-bottom: 20px;
}

.icon1-cont h5{
   font-size: 17px;
   color: #031b4e;
   margin-top: 18px;
   margin-bottom: 10px;
   font-weight: bold;
}
.icon1-cont p{
   color: #5b6987;
   font-size: 15px;
   font-weight: 400;
   margin-bottom: 10px;
   padding-right: 20px;
}

.boxes{
   height: 200px;
}

/* right */

/* BLOCCO 2 */





/* BLOCCO 3 */
/* arrows */
.cont-arrow{
   cursor: pointer;
}
.left i:hover, .right i:hover{
   color: #0051f5;
}
.left{
   position: absolute;
   bottom: 50%;
   left: 8%;
}
.right{
   position: absolute;
   bottom: 50%;
   right: 8%;
}
.arrow{
   color: #6f7b97;
   font-size: 35px;
   padding: 0 25px;
}
/* arrows */
/* central img */
.slide-img{
   width: 70%;
   padding-top: 65px;
   padding-bottom: 20px;
}

.text-balls h5{
   font-size: 17px;
   color: #4c5c7e;
   padding-bottom: 8px;
}
.balls{
   font-size: 13px;
   color: #006aff;
   padding-bottom: 60px;
}

/* central img */

/* BLOCCO 3 */

/* BLOCCO 4 */
.icon1-cont a{
   color: #1678ff;
   font-weight: bold;
}
.icon1-cont a:hover{
   text-decoration: underline;
}
.icon1-cont a span{
   padding-left: 5px;
}
.boxes{
   margin: 30px 0;
}
/* BLOCCO 4 */

/* BLOCCO 5 */
/* BLOCCO 5 */

/* BLOCCO 6 */
/* BLOCCO 6 */

/* BLOCCO 7 */
/* BLOCCO 7 */

/* BLOCCO 8 */
/* BLOCCO 8 */




/* MEDIA QUERIES */
@media screen and (min-width: 993px){
   .boxes{
      height: 170px;
   }
}

/* versione tablet md */
@media screen and (min-width:769px) and (max-width:992px){
   .container-right > h1{
      font-size: 22px;
   }
   .container-right > a{
      font-size: 22px;
   }

   .left-text h1, .left-text p{
      padding-left: 15px;
   }

   .cont-ul-1 a, .cont-ul-2 a {
    display: none;
   }

   .hamburgher{
      display: block;
      padding-top: 9px;
      padding-right: 16px;
   }
   .hamburgher a{
      font-size: 30px;
   }




   .cont-left{
      font-size: 20px;
   }

   .icon1-cont h5{
      font-size: 20px;
   }
   .icon1-cont p{
      color: #5b6987;
      font-size: 18px;
   }
   .icon1{
      width: 45px;
      height: 45px;
   }


   .p-sez, .h1-sez{
      padding: 5px 15px;
   }

   /* arrows */
   .left{
      position: absolute;
      left: 5%;
   }
   .right{
      position: absolute;
      right: 5%;
   }
   /* arrows */


}


/* versione mobile xs */
@media screen and (max-width:768px){
   .left-text h1, .left-text p{
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 20px;
   }

   .cont-ul-1 a, .cont-ul-2 a {
    display: none;
   }

   .hamburgher{
      display: block;
      padding-top: 9px;
      padding-right: 16px;
   }

   .hamburgher a{
      font-size: 30px;
   }

   .container-right{
      width: 80%;
      margin: 0 auto;
      margin-top: 20px;
   }





   .cont-left{
      text-align: center;
      font-size: 25px;
      border-top: 1px solid #5b6987;
      border-bottom: 1px solid #5b6987;
      border-left: none;
   }

   .icon1-cont h5{
      font-size: 22px;
      text-align: center;

   }
   .icon1-cont p{
      color: #5b6987;
      font-size: 20px;
      text-align: center;
   }
   .icon1{
      width: 50px;
      height: 50px;
   }
   .icon1-cont{
      text-align: center;
   }

   .boxes{
      margin: 15px 0;
   }

   .p-sez, .h1-sez{
      padding: 5px 15px;
   }

   /* arrows */
   .right i, .left i{
      display: none;
   }
   /* arrows */


   .slide-img{
      width: 90%;

   }
}
/* MEDIA QUERIES */
